* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

*::after,
*::before {
    box-sizing: border-box;
}

.menu {
    width: max-content;
    margin: 30px auto 32px auto;
}

.menu-items {
    display: inline-block;
}

.menu-item {
    width: 627px;
}

.menu-items:nth-child(4) {
    margin-left: 50px;
}

.menu-items:nth-child(3),
.menu-items:nth-child(2) {
    margin-left: 50px;
}

.menu-items-links {
    text-decoration: none;
    letter-spacing: 4px;
    color: #FF0000;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

.header-img {
    width: 100%;
    height: 837px;
    background-image: url('./img/background.png');
    background-size: cover;
}

.main {
    width: 1145px;
    margin: 0 auto;
}

.main-title {
    padding-top: 49px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 4.5px;
    font-size: 22px;
    text-transform: uppercase;
    color: #373737;
}

.main-text {
    margin: 0 auto;
    padding-top: 38px;
}

.main-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 2.22px;
    color: #373737;
}

.main-descr:nth-child(2) {
    padding-top: 28px;
}

.main-btn {
    margin-top: 66px;
    margin-bottom: 42px;
}

.btn {
    display: block;
    margin: 0 auto;
    padding: 18px 43px 18px 43px;
    background: #FF0000;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    letter-spacing: 2.5px;
}

.btn:active {
    background: #891818;
    color: #ffffffd1;
}

.footer {
    width: 1145px;
    margin: 0 auto;
}

.footer-desr {
    width: 1145px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.5px;
    color: #373737;
    margin: 86px 0 29px 0;
    text-align: right;
}